@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;600;800&display=swap');

$fontFamily: 'Noto Sans', sans-serif;
$body: #3C87A0;
$primary: #93B3EE;
$secondary: #7181AA;
$white: #fff;
$black: #000;

$darkBlue: #162D69;
$darkBlueDark: #040C24;
$blueOcean: #040C24;